.TH {{COMMAND_UPPER}} 1 "{{DATE}}" "Toolkit" "User Commands"
.SH NAME
{{command}} \- {{description}}
.SH SYNOPSIS
.B {{command}}
[\fIOPTIONS\fR]
.SH DESCRIPTION
{{description}}
.SH OPTIONS
.TP
.B \-\-help
Show help message and exit.
.TP
.B \-\-version
Show version information and exit.
.SH EXAMPLES
.PP
{{command}} --help
.SH SEE ALSO
.BR toolkit-help (1)